body {
    background-color: #121212;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    height: 100vh;
    overflow: hidden;
}

.welcome-message {
    color: white;
    font-size: xx-large;
    text-align: center;
    margin-top: 10px;
}

.wrapper {
    display: flex;
    height: 100vh;
    transition: margin-right 0.5s ease-in-out;
}

#add-contact-button, #delete-contact-button {
    place-items: center;
    color: white;
    background: black;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    margin-left: auto;
    margin-bottom: 0px;
    width: 10%;
    font-size: xx-large;
    font-weight: 700;
    text-align: center;
    display: none;
}

#add-contact-button {
    display: block;
}

#delete-contact-button {
    color: red;  /* Make the trash button red */
}

/* Add styles for select mode */
.contact .select-bullet {
    display: none;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 15px;
}

.contact.select-mode .select-bullet {
    display: inline-block;
}

.contact.selected .select-bullet {
    background-color: blue;
    border-color: blue;
}

.side-panel {
    position: fixed;
    right: -100%;
    top: 0;
    width: 26%;
    height: 100vh;
    background-color: black;
    overflow-y: auto;
    transition: right 0.5s ease-in-out;
}

.side-panel-open .side-panel {
    right: 0;
}

.side-panel-open .sp-icon-open {
    display: none !important;
}

.side-panel-open .sp-icon-close {
    display: initial !important;
}

.sp-icon-close {
    display: none !important;
}

.search-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: auto;
    align-items: center;
    width: calc(100% - 30%);
    transition: width 0.5s ease-in-out;
}

.search-section-full {
    width: 100%;
    transition: width 0.5s ease-in-out;
}

.search-header {
    width: 100%;
    padding: 10px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-contacts-title {
    margin-bottom: 8px;
}

#search-bar {
    margin-bottom: 40px;
    background-color: #121212;
}

.highlight {
    background-color: yellow;
}

#no-results-message {
    color: red;
    font-size: large;
    margin-top: 10px;
}

.vertical-menu {
    display: flex;
    flex-direction: column;
    width: 15%;
    box-sizing: border-box;
    font-size: x-large;
    background-color: black;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
}

.menu-item {
    display: block;
    color: cyan;
    font-weight: 700;
    text-decoration: none;
    padding-bottom: 30px;
    cursor: pointer;
    margin-bottom: 20px;  /* Ensure vertical spacing */
}

.menu-item:hover {
    text-decoration: underline;
}

.form-control {
    background-color: #121212;
    color: white;
    border: 1px solid white;
    margin-bottom: 30px;
} 

.form-control:focus {
    background-color: black;
    color: white;
    border: 1px solid blue; 
    box-shadow: 0 0 5px 2px blue;
}

.invalid-feedback {
    display: none;
    font-size: 0.9em;
}

.is-invalid~.invalid-feedback {
    display: block;
    color: red;
}

.error-message {
    color: red;
    font-size: 0.9em;
    display: none;
    margin-bottom: 20px;
}

#close-popup-button {
    background-color: red;
    color: white;
    margin-bottom: 15px;
}

.add-button,
#close-popup-button {
    width: 100%;
    display: block;
    place-items: center;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.add-button, 
.add-button:hover {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: blue;
}

.form-container {
    max-width: 100%;
    width: 100%;
    padding: 40px;
    border-radius: 10px;
    box-sizing: border-box;
}

.contact-container {
    max-width: 100%;
    width: 100%;
    padding: 0px;
    border-radius: 10px;
    box-sizing: border-box;
}

.contact-info p {
    margin: 0;
    font-size: 0.9em;
}

.contact-info {
    flex: 1;
    flex-direction: column;
}

.sticky-header {
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
    font-size: x-large;
    padding: 10px;
    padding-left: 0;
    border-bottom: 2px solid white;
    z-index: 10;
}

.contact {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding: 40px;
    font-size: medium;
    align-items: center;
    cursor: pointer;
}

.contact:hover,
.contact.selected {
    background-color: #1a1a1a;
}

#contact-list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact-details {
    text-align: left;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    background-color: #121212;
}