/* (Default) dark theme variables */
:root {
    --background-color: black;
    --text-color: white;
    --border-color: white;
    --focus-background-color: rgb(18,18,18);
    --focus-text-color: white;
    --focus-border: 1px solid rgb(0, 97, 200);
    --focus-box-shadow: 0 0 5px 2px rgb(0, 97, 200);
    --button-background-color: rgb(0, 97, 200);
    --button-hover-color: rgb(42, 122, 207);
    --form-backdrop-filter: blur(5px);
    --button-text-color: white;
    --link-color: rgb(141, 199, 246);
    --contact-select-border: 2px solid white;
    --contact-hover-color: rgb(29, 53, 78);
    --contact-selected-hover-color: rgb(91, 47, 47);
    --contact-selected-color: blue;
    --blurred-background: rgba(0, 0, 0, 0.8);
    --input-box-color: rgb(18,18,18);
}

/* Light Theme variables */
body.light-theme {
    --background-color: rgb(246, 246, 246);
    --text-color: black;
    --border-color: black;
    --input-box-color: rgb(222, 223, 225);
    --focus-background-color: rgb(222, 223, 225);
    --focus-text-color: black;
    --focus-border: 1px solid rgb(0, 97, 200);
    --focus-box-shadow: 0 0 5px 2px rgb(0, 97, 200);
    --button-background-color: rgb(0, 97, 200);
    --button-hover-color: rgb(0, 60, 124);
    --button-text-color: white;
    --form-backdrop-filter: blur(5px);
    --link-color: rgb(7, 79, 138);
    --contact-hover-color: rgb(168, 193, 221); 
    --contact-selected-hover-color: rgb(214, 157, 157);
    --contact-selected-color: rgb(55, 115, 161);
    --blurred-background: rgb(255, 255, 255, 0.8);
    /* TODO: review contact selection colors for light theme */
}

body {
    background-image: url('../images/home.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    height: 100vh;
    overflow: hidden;
}

.welcome-message {
    color: var(--text-color);
    text-align: center;
    margin-top: 30px;
    font-size: xx-large;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.typing {
    display: inline-block;
    animation: typing 2s steps(40, end), blink-caret .75s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.wrapper {
    display: flex;
    height: 100vh;
    transition: margin-right 0.5s ease-in-out;
}

.search-and-buttons-section {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

#add-contact-button, #delete-contact-button {
    place-items: center;
    color: var(--text-color);
    background: var(--background-color);
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 0px;
    width: 5%;
    font-size: xx-large;
    font-weight: 500;
    text-align: center;
    display: none;
    padding: 0px;
}

#add-contact-button {
    display: block;
    color: var(--text-color);
}

#add-contact-button:hover {
    color: var(--link-color);
    font-weight: 700;
}

#delete-contact-button {
    color: red; 
}

/* Add styles for select mode */
.contact .select-bullet {
    display: none;
    width: 20px;
    height: 20px;
    border: var(--contact-select-border);
    border-radius: 50%;
    margin-right: 15px;
}

.contact.select-mode .select-bullet {
    display: inline-block;
}

.contact.selected .select-bullet {
    background-color: var(--contact-selected-color);
    border-color: var(--contact-selected-color);
}

.side-panel {
    margin-top: 20px;
    position: fixed;
    right: -100%;
    top: 0;
    width: 26%;
    height: 100vh;
    background-color: var(--background-color);
    overflow-y: auto;
    transition: right 0.5s ease-in-out;
	z-index: 100;
}

.side-panel-open .side-panel {
    right: 0;
}

.side-panel-open .sp-icon-open {
    display: none !important;
}

.side-panel-open .sp-icon-close {
    display: initial !important;
}

.sp-icon-close {
    display: none !important;
}

.search-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: auto;
    align-items: center;
    width: calc(100% - 30%);
    transition: width 0.5s ease-in-out;
}

.search-section-full {
    width: 100%;
    transition: width 0.5s ease-in-out;
}

.search-header {
    width: 70%;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    transition: width 0.5s ease-in-out;
}

.search-header-full{
    width: 100%;
	transition: width 0.5s ease-in-out;
}

.search-contacts-title,
.contact-form-title {
    font-size: x-large;
    margin-bottom: 10px;
}

#search-bar {
    margin-bottom: 40px;
    background-color: var(--input-box-color);
}

.highlight {
    background-color: yellow;
}

.vertical-menu {
    display: flex;
    flex-direction: column;
    width: 15%;
    box-sizing: border-box;
    font-size: x-large;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10px;
    background-color: var(--blurred-background);
    backdrop-filter: var(--form-backdrop-filter);
}

.menu-item {
    display: block;
    color: var(--link-color);
    font-weight: 700;
    padding-bottom: 30px;
    cursor: pointer;
    margin-bottom: 20px;
}

.menu-item:hover,
#themeToggle:hover {
    text-decoration: underline;
    color: var(--link-color)
}

.form-control {
    background-color: var(--input-box-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    margin-bottom: 30px;
} 

.form-control:focus {
    background-color: var(--focus-background-color);
    color: var(--text-color);
    border: var(--focus-border); 
    box-shadow: var(--focus-box-shadow);
}

.invalid-feedback {
    display: none;
    font-size: 0.9em;
}

.is-invalid~.invalid-feedback {
    display: block;
    color: red;
}

.error-message {
    color: red;
    font-size: 0.9em;
    display: none;
    margin-bottom: 20px;
}

#close-popup-button {
    background-color: red;
    color: var(--button-text-color);
    margin-bottom: 15px;
}

.contact-button,
#close-popup-button {
    width: 100%;
    display: block;
    place-items: center;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.contact-button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact-button:hover {
    background-color: var(--button-hover-color);
}

.form-container {
    max-width: 100%;
    width: 100%;
    padding: 40px;
    border-radius: 10px;
    box-sizing: border-box;
}

.contact-container {
    max-width: 100%;
    width: 100%;
    padding: 0px;
    height: 70%;
    border-radius: 10px;
    box-sizing: border-box;
}

.contact-info p {
    margin: 0;
    font-size: 0.9em;
}

.contact-info {
    flex: 1;
    flex-direction: column;
}

.selected-count {
    font-size: large; 
    margin-left: auto; 
    color: var(--text-color);
}

.sticky-header {
    display: flex;
    text-align: left;
    position: sticky;
	padding: 5px;
	padding-left: 40px;
    top: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: x-large;
    z-index: 10;
    border-bottom: var(--contact-select-border);
}
.contact-header-flex{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: calc(100% - 30%);
    transition: width 0.5s ease-in-out;
}

.contact-header-flex-full{
    width: 100%;
    transition: width 0.5s ease-in-out;
}

.contact-header{
	display: grid;
    grid-template-columns: 28% 28% 28% 16%;
	padding-top: 0px;
	/* padding-bottom: 0px; */
    font-size: large;
	/*font-weight: bold;*/
	background-color: var(--background-color);
    height: 0px;
    z-index: 15;
    /* border-bottom: 1px solid var(--border-color); */
    /* padding: 0px; */
    align-items: center;
    /* min-width: 0; */
    overflow-wrap: break-word;
    text-align: left;
    padding-left:  40px;
	padding-right: 15px;
}

.header-item{
	padding-top:10px;
}
/* 
.header-item, .contact > div {

} */

.contact {
    display: grid;
    grid-template-columns: 28% 28% 28% 16%;
    /* grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column; */
    border-bottom: 1px solid var(--border-color);
    padding: 15px;
	padding-left: 40px;
    font-size: medium;
    align-items: center;
    text-align: left;
    min-width: 0;
    overflow-wrap: break-word;
    cursor: pointer;
}

.contact:hover {
    background-color: var(--contact-hover-color);
}

.contact.selected {
    background-color: var(--contact-selected-hover-color);
}

#contact-list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#contact-page {
    background-color: var(--input-box-color);
}

.contact-details {
    text-align: left;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    background-color: var(--input-box-color);
}

#themeToggle {
    font-size: 24px;
    padding: 0px;
    background: none;
    color: var(--link-color);
    font-weight: 700;
    border: none;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 50px;
    text-align: left;
}

.top-header {
    display: inline;
}
